.br-round {
  border-radius: 50px;
}

.background-light {
  background: #EFF3FB;
}

.background-primary {
  background: #0D66FF;
}

.color-primary {
  color: #0d66ff;
}

.background-secondary {
  background: #d9e7fd;
}

.cursor-default {
  cursor: default;
}